.index {
  overflow: hidden;
}
.index-car {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/index_car.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.index-accessory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/index_accessory.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.index-logo {
  position: relative;
  display: block;
  z-index: 99999;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  pointer-events: none;
}
.index-view-car,
.index-view-acc {
  position: absolute;
  z-index: 999;
  display: block;
  width: 45%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 100px;
}
.index-car-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 9999;
  opacity: 0.7;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: swipeRight;
}
.index-car-arrow:before {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #faaa33;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.index-car-arrow:after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #faaa33;
  position: absolute;
  top: 11px;
  left: 0;
  transform: rotate(-45deg);
}
.index-acc-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30%;
  top: 50%;
  z-index: 9999;
  opacity: 0.7;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: swipeLeft;
}
.index-acc-arrow:before {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
.index-acc-arrow:after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 11px;
  left: 0;
  transform: rotate(45deg);
}
@keyframes swipeRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(200%, 0, 0);
  }
}
@keyframes swipeLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-200%, 0, 0);
  }
}
