.model {
  background-size: 100%;
  background-repeat: no-repeat;

  &.out {
    background-color: transparent;

    &.s5 {
      background-image: url(/images/model_out_s5.jpg);
    }
    &.s5young {
      background-image: url(/images/model_out_s5young.jpg);
    }
    &.m3 {
      background-image: url(/images/model_out_m3.jpg);
    }
    &.m6 {
      background-image: url(/images/model_out_m6.jpg);
    }
  }

  &.in {
    background-image: none;
    background-color: #202024;
  }

  &-out {
    margin-top: 30%;
    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;

      &-text {
        display: inline-block;
        position: relative;
        padding: 10px;
        
        &:before {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          background-image: linear-gradient(to right, rgba(255,255,255,0), white, rgba(255,255,255,0));
        }
      }
    }

    &-main {
      margin: auto;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 15px auto;

    &.out {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
      z-index: 9999;
    }
  }

  &-btn {
    width: 49%;
    background-color: #feba00;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;

    &.active {
      background-color: #3e3e40;
    }
  }
}