.model {
  background-size: 100%;
  background-repeat: no-repeat;
}
.model.out {
  background-color: transparent;
}
.model.out.s5 {
  background-image: url(/images/model_out_s5.jpg);
}
.model.out.s5young {
  background-image: url(/images/model_out_s5young.jpg);
}
.model.out.m3 {
  background-image: url(/images/model_out_m3.jpg);
}
.model.out.m6 {
  background-image: url(/images/model_out_m6.jpg);
}
.model.in {
  background-image: none;
  background-color: #202024;
}
.model-out {
  margin-top: 30%;
}
.model-out-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.model-out-title-text {
  display: inline-block;
  position: relative;
  padding: 10px;
}
.model-out-title-text:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0));
}
.model-out-main {
  margin: auto;
}
.model-btns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 15px auto;
}
.model-btns.out {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 9999;
}
.model-btn {
  width: 49%;
  background-color: #feba00;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
.model-btn.active {
  background-color: #3e3e40;
}
