.cars {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/images/car_bg.jpg);
}
.cars-btns {
  width: 75%;
  margin: 15px auto;
  margin-top: 30px;
}
.cars-btn {
  background-color: #202024;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  user-select: none;
  border: none;
  width: 100%;
  color: white;
  outline: 0;
  font-size: 14px;
}
.cars-btn-group {
  display: flex;
  justify-content: space-between;
}
.cars-btn-group .cars-btn {
  width: 49%;
}
.cars-btn:hover,
.cars-btn:focus,
.cars-btn:active {
  background-color: #ee9618;
  background-image: url(/images/car_active.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cars-btn > img,
.cars-btn > span {
  display: inline-block;
  vertical-align: middle;
}
.cars-btn > img {
  margin-right: 10px;
}
.cars-swiper .swiper-slide > img {
  width: 100%;
}
.cars-swiper .swiper-button-prev {
  width: 20px;
  height: 92px;
  margin-top: -46px;
  background-size: 100%;
  background-image: url(/images/car_arrow_left.png);
}
.cars-swiper .swiper-button-next {
  width: 20px;
  height: 92px;
  margin-top: -46px;
  background-size: 100%;
  background-image: url(/images/car_arrow_right.png);
}
